@media screen and (min-width: 570px) {
  .Landing {
    background-size: 110vh;
    button {
      font-size: 2rem;
      height: 60px;
    }
  }
  .Options_element-text,
  .Feedback_text {
    padding-inline: 10%;
  }
  .App {
    h1 {
      font-size: 3rem;
    }
    h2 {
      font-size: 2rem;
    }
  }
  p {
    font-size: 1.5rem !important;
  }
  .Footer {
    padding-top: 40%;
  }
  .atributtion {
    height: 50px;
  }
  .Form {
    bottom: 110vh;
    &_text {
      height: 150px;
    }
    &_submit form {
      button,
      input {
        font-size: 2rem;
      }
    }
  }
}
