@media screen and (min-width: 1440px) {
  .Feedback {
    margin-block: 20vh;
    img {
      width: 600px;
    }
  }

  .Form {
    bottom: 550px;
  }

  #logo-footer {
    bottom: 450px;
  }

  .Footer {
    padding-block: 15%;
  }
}
